<ion-header>
  <ion-navbar>
    <ion-title>GDrive Audiobooks</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid style="height: 100%;">
    <ion-row align-items-center>
      <ion-col>
        <h1>Stream your audiobooks from Google Drive. Get started by signing into your Google account below.</h1>
      </ion-col>
    </ion-row>
    <ion-row align-items-center>
        <ion-col>
            <img class="google-signin" src="./assets/imgs/btn_google_signin_dark_normal_web.png" (click)="signInGoogle()">
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
