
<ion-row style="height: 100%" align-items-center>
  <ion-col>
      <ion-range min="0" max="{{duration}}" [ngModel]="currentTime" color="primary">
          <ion-label range-right>{{currentTime}}/{{duration}}</ion-label>
      </ion-range>
      <ion-row justify-content-center align-items-center text-center>
        <ion-col align-self-center>
            <button color="light" ion-button icon-only (click)="seek(-30)">
                <ion-icon name="rewind"></ion-icon>
            </button>
            <button ion-button icon-only (click)="togglePlayback()" id="playButton">
              <ion-icon name="play" *ngIf="audioStream.paused"></ion-icon>
              <ion-icon name="pause" *ngIf="!audioStream.paused"></ion-icon>
            </button>
            <button color="light" ion-button icon-only (click)="seek(30)">
              <ion-icon name="fastforward"></ion-icon>
            </button>
        </ion-col>
      </ion-row>
  </ion-col>
</ion-row>
