page-audio-files {
    .fakeItem {
        h2, h3, p {
          background-color: lightgrey;
          opacity: 0.5;
          height: 0.9em;
          margin-top: 10px;
        }
       
        h2 {
          width: 55%;
        }
       
        h3 {
          width: 25%;
        } 
       
        p {
          width: 60%;
        }
    }
}
