<ion-header>
  <ion-navbar>
    <ion-title>{{bookTitle}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="getData($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list *ngIf="audioFiles">
      <button ion-item *ngFor="let f of audioFiles" (click)="fileTapped($event, f)">
        <h2>{{f.name}}</h2>
        <h3>
          {{f.listenedTo}} listened to
        </h3>
      </button>
    </ion-list>
    <ion-list *ngIf="audioFiles === undefined">
        <ion-item *ngFor="let fake of fakeFiles" class="fakeItem">
            <h2></h2>
            <h3></h3>
        </ion-item>
    </ion-list>
</ion-content>
