<!--
  Generated template for the PlaybackPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{audioFile.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <playback-toolbar [audioFile]="audioFile"></playback-toolbar>
  <audio-player *ngIf="accessTokenReady" [audioFile]=audioFile></audio-player>
</ion-content>
