<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-grid>
  <ion-row justify-content-center>
      <ion-col text-center>
          <img src="{{avatarSrc}}" alt="Profile photo">
      </ion-col>
  </ion-row>
  <ion-row justify-content-center>
      <ion-col text-center>
          {{userDisplayName}}
      </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
        <form novalidate [formGroup]="settingsForm" (ngSubmit)="saveSettings()">
            <ion-item no-padding>
                <ion-label for="rootFolder" floating>Root Folder ID</ion-label>
                <ion-input id="rootFolder" type="text" required formControlName="rootFolder">
                </ion-input>
            </ion-item>
            <p class="error-message" [hidden]="this.settingsForm.get('rootFolder').valid || this.settingsForm.get('rootFolder').pristine">
              Please enter a root folder id.
            </p>
            <div padding-top margin-top>
                <button ion-button block type="submit" color="primary" [disabled]="!this.settingsForm.valid">
                  Save
                </button>
            </div>
        </form>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>