<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Books</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <ion-refresher (ionRefresh)="getData($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list>
      <button ion-item *ngFor="let b of books" (click)="bookTapped($event, b)">
        <h2>{{b.title}}</h2>
        <h3>{{b.author}}</h3>
      </button>
    </ion-list>
</ion-content>
  