<ion-row>
    <ion-col text-right>
      <button [color]="isFileCached ? 'dark' : 'dark'" ion-button icon-only [clear]="!isFileCached" round (click)="toggleCache()">
          <ion-icon name="cloud-download"></ion-icon>
      </button>
    </ion-col>
</ion-row>